*{
    padding: 0%;
    margin: 0%;
}
.main{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.one{
    background-color:white;
    width: 100%;
    height:auto;
    background-image: url(image/hero4.png);background-size: cover;
}
.one{
    @media(min-width: 1200px) {
        height: 100vh;
    }
} 
.home{
    margin-left: 50vw;
  
}
.home1{
    @media(min-width: 1200px) {
        margin-left: 50vw;
        display: flex;
        gap:1rem ;
        justify-content: end;
    }
}

.trade{
    @media(min-width: 1200px) {
        
    }
} 
.home1:hover {
    color: red;
  }
  .trade{
    margin-top: 20vw;
  }
  /* page one  */
  
.two{
    background-color: white;
    width: 100%;
    height: a;
}
.img1{
    width: 150px;
    height: 150px;
    background-image: url(image/ai-generated-8202112_640.jpg);background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: flex-end;
  box-shadow: 20px 28px 34px rgba(0, 0, 0, 0.20);
  border: 1px solid white;
}

.img2{
    width: 150px;
    height: 150px;
    background-image: url(image/shopping-3613689_640.png);background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: flex-end;
  box-shadow: 20px 28px 34px rgba(0, 0, 0, 0.20);
  border: 1px solid white;
}
.img3{
    width: 150px;
    height: 150px;
    background-image: url(image/savings-box-161876_640.png);background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: flex-end;
  box-shadow: 20px 28px 34px rgba(0, 0, 0, 0.20);
  border: 1px solid white;
}
.img4{
    width: 150px;
    height: 150px;
    background-image: url(image/ai-generated-8772394_640.png);background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: flex-end;
  box-shadow: 20px 28px 34px rgba(0, 0, 0, 0.20);
  border: 1px solid white;
}
.img5{
    width: 150px;
    height: 150px;
    background-image: url(image/happy-1296589_640.png);background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: flex-end;
  box-shadow: 20px 28px 34px rgba(0, 0, 0, 0.20);
  border: 1px solid white;
}
.img6{
    width: 150px;
    height: 150px;
    background-image: url(image/call-3613071_640.png);background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: flex-end;
  box-shadow: 20px 28px 34px rgba(0, 0, 0, 0.20);
  border: 1px solid white;
}
/* clothing section */
.cent{
    align-items: center;
    text-align: start;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.40);
    transition: 0.2 east;
    position: relative;
    padding-bottom: 5px;
    padding: 5px;
}
.span{
    color: grey;
}
.star{
    font-size: 12px;
    color: gold;
}
.cent1{
    border-radius: 30px;
}
.shop{
 
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    background-color: lightgreen;
    color: green;
    border: 1px solid;
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding-left: 8px;
}

.card{
    @media(min-width: 992px){
        width:30%;
    }
}
.card{
    @media(min-width: 768px){
        width:30%;
    }
}
.card{
    @media(min-width:576px){
        width:30%;
    }
}

.card{
    @media(min-width: 1200px){
        width: 18rem;
    }
  }

/* 
/* done for page two */


.three{
    /* background-color: green; */
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.repair{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(image/meeting-1453895_640.png);
    height: 40vh;
    width: 100%;
    background-size: cover;
    margin-top: 15vh;
    background-color: black;
}
.btn1{
    padding: 10px;
    border: none;
    font-size: 17px;
    font-weight: bolder;
    
}
.btn1:hover{
    background-color: green;
    color: white;
}
/* end of pagr three */

.four{
    
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.ban1{
    display: flex;
    flex-direction: column;
    background-image: url(image/woman-6496881_640.jpg);background-size: cover;
    height: 50vh;
    background-size: cover;
    /* margin-top: 15vh; */
    padding: 30px;
    /* margin-bottom: 10vh; */
}
.ban2{
    display: flex;
    flex-direction: column;
    background-image: url(image/clothes-1834650_640.jpg);background-size: cover;
    height: 50vh;
    background-size: cover;
    /* margin-top: 15vh; */
    padding: 30px;
}
.btn3{
    font-size: 14px;
    font-weight: bolder;
    padding: 11px 25px;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    color: white;
}
.btn3:hover{
background-color: green;
color: white;
}
.ban3{
    background-image: url(image/woman-1166842_640.jpg);background-size: cover;
    height: 30vh;
  
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.ban4{
    background-image: url(image/sneakers-8801656_640.jpg);background-size: cover;
    height: 30vh;
  
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.ban5{
    background-image: url(image/ai-generated-8702729_640.jpg);background-size: cover;
    height: 30vh;
  
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

/* end of page 4 */
.five{
    background-color: white;
    width: 100%;
    height: auto;
}

.foot{
    background-color:hsl(217, 89%, 14%);
   height: 35vh;
   position: relative;
}
.btn5{
    height: 40px;
    width: 90px;
    padding: 5px;
    background-color:rgb(11, 126, 119);
    color: white;
    border: none;
}
.ach a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.ach a:hover{
    color: aquamarine;

}
.alert{
    width: 80vw;
    height: 80vh;
    background-color: white;
    margin-left: 10vw;
    margin-top: 5.5vw;
    position: absolute;
    display: flex;
}
.alert1{
    background-color: yellow;
    width: 40vw;
    height: 70vh;
    background-image: url(image/water-2569463_640.jpg);background-size: cover;
    /* position: relative; */
}
.alert2{
    background-color:white;
    width: 40vw;
    height: 70vh;
}
.ss3{
    width: 20vw;
    margin-top: 10vw;
    margin-left: 7vw;

}
.closebtn{
  font-weight: bolder;
  height: 50px;
  width: 50px;
  border-radius: 40% ;
  text-align: center;
  padding: 5px;
  position: absolute;
  margin-left: 73vw;
  font-size: 40px;

}
/* .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    cursor: pointer;
} */
.closebtn:hover {
    color: black;
}


.new34{
   display: flex;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   margin-top: 3rem;

}
.img3{
  height: 100%;
 justify-content: space-around;
}


.img3{
    @media(min-width: 992px){
        width:100%;
    }
}
.img3{
    @media(min-width: 768px){
        width:100%;
    }
}
.img3{
    @media(min-width:576px){
        width:100%;
    }
}

.img3{
    @media(min-width: 1200px){
        width: 20rem;
    }
  }
  .btn5{
    background-color: blue;
  }
  :hover.red1{
   background-color: lightgreen;
   border-radius: 0%;

    
  }
  .red2 {
    display: flex;
    gap: 70px;
  
  }
 